AMBIENTE=dev

DB_HOST=localhost
DB_PORT=5432
DB_NAME=nome_do_banco
DB_USER=usuario
DB_PASSWORD=senha

WDAPI_BASE_URL=https://wdapi2.com.br/consulta
WDAPI_TOKEN=seu_token_aqui
WDAPI_TIMEOUT_SEGUNDOS=10

AUTH_SECRET_KEY=troque_essa_chave_em_producao
AUTH_ALGORITHM=HS256
AUTH_TOKEN_EXP_MINUTOS=1440
